.mainInfo {
  display: flex;
  justify-content: space-around;
}
.AllWater__button {
  width: 260px;
  height: 32px;
  margin-top: 19px;
  font-size: 15px;
  text-align: center;
  background-color: #c0dafb;
  border: none;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.AllWater__button:hover {
  background: rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 0 3px #7156af;
}
