.mainInfo {
  display: flex;
  justify-content: space-around;
}
.AllWater__button {
  width: 580px;
  height: 40px;
  margin-top: 19px;

  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;

  border: 3px solid #7156af;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.AllWater__button:hover {
  background-color: #a5cafa;
  border: none;
}
