.List {
  width: 55%;
  margin: 20px;
  padding: 20px 40px 20px 40px;
  /*background-color: #f8f7f2;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);*/
  background-color: rgb(173 210 235 / 43%);;
  box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
}

.List__Header {
  text-align: center;
  text-transform: uppercase;
}
.List__UserTop {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: auto;
  height: 424px;
}
/*стили для скрола*/
.List__UserTop::-webkit-scrollbar {
  width: 6px;
  height: 20px;
}
.List__UserTop::-webkit-scrollbar-thumb {
  /*border-radius: 50px;*/
  background-color: rgba(114, 161, 248, 0.295);
}
.List__UserTop::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 89, 255, 0.45);
}
.List__UserTop::-webkit-scrollbar-track {
  background-color: #c2d3dd;
  /*border-radius: 40px;*/
}
.List__UserTopFlex {
  display: flex;
}
