.List {
  height: 78vh;
  background-color: rgb(173 210 235 / 23%);
  box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
}

.List__Header {
  text-align: center;
  text-transform: uppercase;
  padding: 10px 0 10px 0;
  height: 8vh;
}
.List__UserTop {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: auto;
  height: 65vh;
}
/*стили для скрола*/
.List__UserTop::-webkit-scrollbar {
  width: 6px;
  height: 20px;
}
.List__UserTop::-webkit-scrollbar-thumb {
  /*border-radius: 50px;*/
  background-color: rgba(114, 161, 248, 0.295);
}
.List__UserTop::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 89, 255, 0.45);
}
.List__UserTop::-webkit-scrollbar-track {
  background-color: #c2d3dd;
  /*border-radius: 40px;*/
}
.List__UserTopFlex {
  display: flex;
}
.List__SubTitle {
  width: 30%;
}
.List__SubTitle:hover {
  cursor: pointer;
}
.List__input {
  width: 250px;
  padding: 3px 3px;
  font-size: 12px;
  color: #000000;
}
.List__FormSearch {
  display: flex;
  justify-content: space-between;
  padding: 5px 50px;
  font-size: 18px;
}
