.Rating {
  margin: 20px 0px 0px 0px;
  padding: 10px 15px;
  background-color: #f8f7f2;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  display: flex;
  justify-content: space-between;
}
.Rating_new {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Rating__title {
  font-weight: 600;
  padding-top: 40px;
  padding-bottom: 30px;
  text-transform: uppercase;
  font-size: 24px;
}
.Rating__separator {
  width: 90%;
  height: 1px;
  background-color: rgb(90, 89, 89);
}
.Rating__subTitle {
  margin: 5px 0px 5px 0;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
}
.Rating_itemsAll {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 28%;
}
.Rating__name {
  text-align: center;
  height: 28px;
  padding-top: 3px;
  background-color: #c0dafb;
  cursor: pointer;
}
.Rating__name:hover {
  background-color: #7156af;
  font-size: 18px;
  color: #ffffff;
}
