.Rating {
  margin: 20px 0px 0px 0px;
  padding: 10px;
  width: 240px;
  background-color: #ffffff;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  display: flex;
    flex-direction: column;
    align-items: center;
}
.Rating__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
}
.Rating__name {
  text-align: center;
  width: 200px;
  height: 28px;
  padding-top: 3px;
  margin-top: 4px;
  background-color: #c0dafb;
  cursor: pointer;
}
.Rating__name:hover {
  width: 240px;
  background-color: #7156af;
  font-size: 18px;
  color: #ffffff;


}
