.waterPage {
  margin: 20px auto;
  width: 85%;
}
.waterWrapper {
  margin: 25px auto;
  padding: 15px 10px;
  background-color: rgb(248 247 242 /75%);
}
.waterWrapper_name {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}
.waterWrapper_shortDescr {
  margin-bottom: 15px;
  font-size: 20px;
  text-align: center;
}
.waterWrapper_square {
  margin: 5px 0;
  font-size: 16px;
}
.waterWrapper_depth {
  margin: 5px 0;
  font-size: 16px;
}
.waterWrapper_length {
  margin: 5px 0;
  font-size: 16px;
}
.waterWrapper_fullDescr {
  margin: 10px 0 0 0;
  font-size: 18px;
  font-style: italic;
}
.waterPage__nav {
  margin: 15px 5px 0 0px;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  color: black;
  font-size: 18px;
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
}
.waterPage__nav:hover {
  background-size: 100% 2px;
  color: #203e61;
}
.waterPage__nav2 {
  margin: 15px 5px 0 5px;
  font-size: 18px;
  text-decoration: none;
  background: none;
  border: none;
  color: black;
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
}
.waterPage__nav2:hover {
  color: #203e61;
  background-size: 100% 2px;
}
.waterPage__nav3 {
  margin: 15px 0 0 5px;
  font-size: 18px;
  color: black;
}
