* {
  margin: 0;
  padding: 0;
}
.header_main {
  width: 99%;
  height: 20%;
  display: flex;
  justify-content: center;
  background-image: url("../../assets/images/logo.png");
  background-size: 3%, 25%, 25%;
  background-repeat: no-repeat;
  background-position: top 73px left 1103px;
}
.header_mainR .header_mainL {
  width: 30%;
}
.header {
  width: 47%;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__title {
  margin: 20px 0 5px 0;
  font-size: 42px;
  font-weight: 700;
  text-transform: uppercase;
}

.header__subTitle {
  margin: 5px 0 5px 0;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.header__separator {
  width: 100%;
  height: 1px;
  background-color: rgb(139, 136, 136);

  background-position: right;
}
.header__logo {
  background-image: url("../../assets/images/logo.png");
  /* background-size: 3%, 25%, 25%;*/
  background-repeat: no-repeat;
}
