* {
  margin: 0;
  padding: 0;
}
.header {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 15%;
  background: no-repeat url("../../assets/images/logo.png") ;
  background-position:bottom -7px right 585px;
  background-size: 3%, 25%, 25%;

  /*background-color: rgb(100, 100, 100);*/
}
.header__title {
  margin: 20px 0 5px 0;
  font-size: 42px;
  font-weight: 700;
  text-transform: uppercase;
}

.header__subTitle {
  margin: 5px 0 5px 0;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.header__separator {
  width: 33%;
  height: 1px;
  background-color: rgb(139, 136, 136);
}
