* {
  margin: 0;
  padding: 0;
}
.AllWaters__wrap {
  margin: 25px auto 0;
  width: 90%;
  height: 500px;

  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.AllWaters__navMain {
  margin: 15px 5px 0 20px;
  font-size: 18px;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  color: black;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
}
.AllWaters__navMain:hover {
  background-size: 100% 2px;
  color: #203e61;
}
.AllWaters__nav {
  margin: 15px 0 0 5px;
  background: none;
  text-decoration: none;
  border: none;
  color: black;
  font-size: 16px;
}

.AllWaters__searchFlex {
  display: flex;
  justify-content: center;
}
.AllWaters__form {
  position: relative;
  margin-top: 25px;
}
.AllWaters__input {
  width: 800px;
  height: 26px;
  padding-left: 30px;
}
.AllWaters__inputButton {
  position: absolute;
  width: 55px;
  height: 24px;
  top: 3px;
  right: 3px;
  font-size: 14px;
  font-weight: 600;
  background: #7156af;
  border: none;
  cursor: pointer;
}
.AllWaters__inputButton:hover {
  background: #9d56af;
}
.AllWaters__regionAllButton {
  margin: 20px auto;
  width: 85%;
  display: flex;
  justify-content: space-between;
}
.AllWaters__regionButton {
  font-size: 14px;
  font-weight: 600;
  background: none;
  border: none;
  cursor: pointer;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.2s;
}

.AllWaters__regionButton:hover {
  background-size: 100% 2px;
  color: #4085ca;
}
.AllWaters__regionButton:focus {
  color: rgb(163, 59, 223);
}
.AllWaters__Allwaters {
  margin: 0 auto;
  width: 91.25%;
  height: 320px;
  /* background-color: #f8f7f2;*/
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  grid-template-rows: 40px 40px 40px 40px 40px 40px 40px;
  justify-items: center;
  overflow: auto;
  -ms-overflow-style: none;
}
.AllWaters__waters {
  text-align: center;
  padding-top: 8px;
  width: 220px;
  height: 32px;
  background: #dfe6f0;
}
.AllWaters__waters:hover {
  text-transform: uppercase;
  background: #5f91c2;
  cursor: pointer;
}
/*стили для скрола*/
.AllWaters__Allwaters::-webkit-scrollbar {
  width: 8px;
  height: 20px;
}
.AllWaters__Allwaters::-webkit-scrollbar-thumb {
  background-color: rgba(114, 161, 248, 0.295);
}
.AllWaters__Allwaters::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 89, 255, 0.45);
}
.AllWaters__Allwaters::-webkit-scrollbar-track {
  background-color: #ddd9c2;
}
