* {
  margin: 0;
  padding: 0;
}
.AllWaters__wrap {
  margin: 25px auto 0;
  width: 90%;
  height: 500px;
  background-color: rgb(100, 100, 100);
}
.AllWaters__navMain {
  margin: 15px 5px 0 20px;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  color: black;
}
.AllWaters__navMain:hover {
  color: rgb(143, 129, 230);
}
.AllWaters__nav {
  margin: 15px 0 0 5px;
  background: none;
  border: none;
  cursor: pointer;
}
.AllWaters__nav:hover {
  color: rgb(143, 129, 230);
}
.AllWaters__searchFlex {
  display: flex;
  justify-content: center;
}
.AllWaters__form {
  position: relative;
  margin-top: 25px;
}
.AllWaters__input {
  width: 800px;
  height: 26px;
  padding-left: 30px;
}
.AllWaters__inputButton {
  position: absolute;
  width: 55px;
  height: 24px;
  top: 3px;
  right: 3px;
  font-size: 14px;
  font-weight: 600;
  background: #f16b54;
  border: none;
  cursor: pointer;
}
.AllWaters__inputButton:hover {
  background: #fa4424;
}
.AllWaters__regionAllButton {
  margin: 20px auto;
  width: 85%;
  display: flex;
  justify-content: space-between;
}
.AllWaters__regionButton {
  font-size: 14px;
  font-weight: 600;
  background: none;
  border: none;
  cursor: pointer;
}
.AllWaters__regionButton:hover {
  color: rgb(143, 129, 230);
}
.AllWaters__regionButton:focus {
  color: rgb(230, 7, 182);
}
.AllWaters__Allwaters {
  margin: 0 auto;
  width: 89.5%;
  height: 320px;
  background: rgb(231, 111, 205);
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  grid-template-rows: 40px 40px 40px 40px 40px 40px 40px;
  justify-items: center;
  overflow: auto;
  -ms-overflow-style: none;
}
.AllWaters__waters {
  text-align: center;
  padding-top: 8px;
  width: 220px;
  height: 32px;
  background: rgb(92, 92, 92);
}
.AllWaters__waters:hover {
  background: rgb(71, 50, 50);
  cursor: pointer;
}
/*стили для скрола*/
.AllWaters__Allwaters::-webkit-scrollbar {
  width: 6px;
  height: 20px;
}
.AllWaters__Allwaters::-webkit-scrollbar-thumb {
  /*border-radius: 50px;*/
  background-color: rgba(250, 12, 12, 0.295);
}
.AllWaters__Allwaters::-webkit-scrollbar-thumb:hover {
  background-color: rgb(250, 52, 52);
}
.AllWaters__Allwaters::-webkit-scrollbar-track {
  background-color: rgb(53, 53, 53);
  /*border-radius: 40px;*/
}
